<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pedidos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        Hola {{nombreusuario}}<br/>
        No de Pedido: {{Pedido.id}}<br/>
        Email del usuario: {{emailusuario}}<br/>
        Lineas de pedido: {{lineas_pedido}}
    </body>
</html>
